<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @manager.position %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @manager.serial_number %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
